.dream-nails-5-1 {
  height: 164px;
  width: 170px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 501px;
  object-fit: contain;
}
.inicio {
  height: 65px;
  width: 134px;
  position: relative;
  display: none;
  z-index: 1;
}
.inicio2 {
  height: 13px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.inicio1 {
  height: 13px;
  width: 98px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.contacto1 {
  height: 12px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.contacto {
  height: 12px;
  width: 149px;
  margin: 0 !important;
  position: absolute;
  top: 59px;
  left: 126px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-6) 0 0;
  box-sizing: border-box;
  z-index: 2;
}
.quienes-somos1 {
  height: 55px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.quienes-somos,
.quienes-somos-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.quienes-somos {
  width: 268px;
  height: 55px;
  flex-direction: row;
  padding: var(--padding-9xs-1) 0 0;
  box-sizing: border-box;
  z-index: 3;
}
.quienes-somos-wrapper {
  width: 376px;
  flex-direction: column;
  max-width: 100%;
}
.inspirate1 {
  height: 54px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.inspirate {
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.servicios1 {
  height: 41px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.servicios {
  position: absolute;
  top: 0;
  left: 164px;
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.social-media-icons {
  align-self: stretch;
  height: 54px;
  position: relative;
}
.social-media-icons-wrapper {
  width: 334px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.header,
.v722-aum-27a-1-icon {
  max-width: 1200px;
  overflow: hidden;
}
.header {
  align-self: stretch;
  background-color: var(--color-hotpink);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-40xl) var(--padding-53xl) var(--padding-44xl)
    var(--padding-11xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-mandali);
}
.v722-aum-27a-1-icon {
  width: 100%;
  height: 830px;
  position: absolute;
  margin: 0 !important;
  top: 180px;
  right: 0;
  left: 0;
  flex-shrink: 0;
  object-fit: cover;
}
.nos-puden-encontrar {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.nos-puden-encontrar-en,
.nos-puden-encontrar-en1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.nos-puden-encontrar-en1 {
  flex: 1;
  padding: 0 0 9px;
  box-sizing: border-box;
}
.nos-puden-encontrar-en {
  width: 377px;
  z-index: 1;
}
.icbaseline-tiktok-icon,
.icbaseline-whatsapp-icon,
.iconamoonlocation-pin-bold,
.mdiinstagram-icon {
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0 !important;
  top: -9px;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
}
.icbaseline-tiktok-icon,
.icbaseline-whatsapp-icon,
.mdiinstagram-icon {
  top: 124px;
}
.icbaseline-tiktok-icon,
.mdiinstagram-icon {
  top: 257px;
}
.mdiinstagram-icon {
  top: 390px;
}
.iconos {
  height: 460px;
  width: 81px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  gap: 63px 20px;
  z-index: 1;
}
.ingeniero-maschwitz-escobar {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.dream-nails-header {
  flex: 1;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.engineer-title,
.ingeniero-maschwitz-escobar-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.engineer-title {
  width: 334px;
  flex-direction: row;
  padding: 0 var(--padding-6xs);
}
.ingeniero-maschwitz-escobar-parent {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-base);
  gap: 52px;
}
.dreamnails17 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.dream-nails-subheader {
  width: 312px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
}
.dreamnails171 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.dreamnails17-wrapper,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dreamnails17-wrapper {
  width: 345px;
  flex-direction: row;
  padding: 0 var(--padding-mid);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  gap: 54px;
  max-width: calc(100% - 114px);
}
.contact-location-inner,
.iconos-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.iconos-parent {
  width: 630px;
  justify-content: flex-start;
  gap: var(--gap-14xl);
}
.contact-location-inner {
  align-self: stretch;
  justify-content: flex-end;
  font-size: var(--font-size-17xl);
  font-family: var(--font-mandali);
}
.contact-location,
.contact-location-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-location {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-14xl);
}
.contact-location-wrapper {
  width: 1054px;
  flex-direction: row;
  padding: 0 var(--padding-11xl) var(--padding-25xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-marcellus);
}
.los-esperamos-con {
  width: 720px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.footer {
  max-width: 1200px;
  align-self: stretch;
  background-color: var(--color-hotpink);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 191px;
  box-sizing: border-box;
}
.contact-us-message-child {
  height: 111px;
  width: 35px;
  flex-shrink: 0;
  display: none;
}
.dream-nails-5-2 {
  height: 194px;
  width: 212px;
  position: relative;
  object-fit: cover;
  display: none;
}
.dream-nails-icon {
  height: 19.3px;
  width: 123.2px;
  position: relative;
  z-index: 2;
}
.dream-nails-5-2-parent {
  width: 212px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-145xl-5) var(--padding-22xl-8) var(--padding-3xs-2);
  box-sizing: border-box;
  background-image: url(./public/dream-nails-5-2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.fluentlocation-12-regular {
  height: 28.6px;
  width: 14.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.full-stop-icon {
  height: 27px;
  width: 35px;
  position: relative;
  object-fit: cover;
}
.contacto-icon {
  align-self: stretch;
  height: 10.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.contact-and-about {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-8);
}
.full-stop-parent {
  width: 101.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs-6);
}
.full-stop-icon1 {
  height: 27px;
  width: 35px;
  position: relative;
  object-fit: cover;
}
.quienes-somos-icon {
  align-self: stretch;
  height: 13.9px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.quienes-somos-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs-1);
}
.full-stop-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs-6);
}
.full-stop-icon2,
.inspirate-icon {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.full-stop-icon2 {
  height: 27px;
  width: 35px;
  object-fit: cover;
}
.inspirate-icon {
  align-self: stretch;
  height: 13.3px;
  max-width: 100%;
  overflow: hidden;
}
.inspirate-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-5);
}
.full-stop-container {
  width: 96.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.full-stop-icon3 {
  height: 27px;
  width: 35px;
  position: relative;
  object-fit: cover;
}
.servicios-icon {
  align-self: stretch;
  height: 10.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-div,
.servicios-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.servicios-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.frame-div {
  width: 94.8px;
  flex-direction: row;
  gap: var(--gap-5xs-7);
}
.contact-us-message-inner,
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.frame-group {
  width: 162.7px;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-12xs);
}
.contact-us-message-inner {
  width: 251.7px;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.full-stop-icon4,
.full-stop-icon5,
.full-stop-icon6,
.full-stop-icon7 {
  height: 27px;
  width: 35px;
  position: absolute;
  margin: 0 !important;
  right: -33.4px;
  object-fit: cover;
}
.full-stop-icon4 {
  top: 43.9px;
}
.full-stop-icon5,
.full-stop-icon6,
.full-stop-icon7 {
  bottom: 47.2px;
}
.full-stop-icon6,
.full-stop-icon7 {
  bottom: 20.2px;
  z-index: 1;
}
.full-stop-icon7 {
  bottom: -6.8px;
  z-index: 2;
}
.donde-encontrarnos-icon {
  width: 185.2px;
  height: 14.1px;
  position: relative;
}
.ingeniero-maschwitz-partido-d {
  height: 12.6px;
  width: 254.6px;
  position: relative;
  z-index: 1;
}
.ingeniero-maschwitz-partido-d-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs-6) 0 0;
}
.icon {
  height: 10px;
  width: 118.9px;
  position: relative;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-6) 0 0;
}
.dreamnails17-icon,
.dreamnails17-icon1 {
  width: 107.2px;
  height: 10.5px;
  position: relative;
  z-index: 2;
}
.dreamnails17-icon1 {
  z-index: 3;
}
.frame-container,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mid-5);
}
.frame-container {
  gap: var(--gap-sm-4);
}
.frame-wrapper {
  width: 205.9px;
  flex-direction: row;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl-7);
  box-sizing: border-box;
}
.donde-encontrarnos-parent,
.frame-wrapper,
.full-stop-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.donde-encontrarnos-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-20xl);
}
.full-stop-parent1 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.contact-us-message,
.find-us-info {
  width: 276.9px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm-8);
  box-sizing: border-box;
}
.contact-us-message {
  width: 1200px;
  height: 173px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-hotpink);
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-mini-1) var(--padding-40xl) 0 var(--padding-3xs);
  gap: var(--gap-xl);
  max-width: 100%;
}
.contact-button,
.contactos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-button {
  align-self: stretch;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-marcellus);
}
.contactos {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  gap: 121px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1100px) {
  .footer {
    max-width: 1200px;
    padding-left: var(--padding-76xl);
    padding-right: var(--padding-76xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1025px) {
  .nos-puden-encontrar {
    font-size: var(--font-size-7xl);
  }
  .dream-nails-header,
  .dreamnails17,
  .dreamnails171,
  .ingeniero-maschwitz-escobar {
    font-size: var(--font-size-10xl);
  }
  .los-esperamos-con {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 750px) {
  .header {
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .ingeniero-maschwitz-escobar-parent {
    gap: var(--gap-7xl);
  }
  .frame-parent {
    gap: var(--gap-8xl);
  }
  .contact-location,
  .iconos-parent {
    gap: var(--gap-base);
  }
  .contact-location-wrapper {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-28xl);
    padding-right: var(--padding-28xl);
    box-sizing: border-box;
  }
  .contact-us-message {
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .contactos {
    gap: 60px;
  }
}
@media screen and (max-width: 450px) {
  .nos-puden-encontrar {
    font-size: var(--font-size-lgi);
  }
  .iconos {
    display: none;
  }
  .dream-nails-header,
  .dreamnails17,
  .dreamnails171,
  .ingeniero-maschwitz-escobar {
    font-size: var(--font-size-3xl);
  }
  .frame-parent {
    max-width: 100%;
  }
  .los-esperamos-con {
    font-size: var(--font-size-lgi);
  }
  .footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .contactos {
    gap: var(--gap-11xl);
  }
}

