.dream-nails-5-1{
  position: absolute;
  margin: 0 !important;
}
.frame-child {
  position: absolute;
  
  top: 171px;
  right: 0;
  left: 0;
  max-width: 1200px;
  overflow: hidden;
  flex-shrink: 0;
}
.dream-nails-5-1 {
  height: 164px;
  width: 170px;
  top: 0;
  right: 501px;
  object-fit: contain;
}
.inicio {
  height: 65px;
  width: 134px;
  position: relative;
  display: none;
  z-index: 1;
}
.inicio2 {
  height: 13px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.inicio1 {
  height: 13px;
  width: 98px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-5) 0 0;
  box-sizing: border-box;
  z-index: 1;
}
.contacto1 {
  height: 12px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.contacto {
  height: 12px;
  width: 149px;
  margin: 0 !important;
  position: absolute;
  top: 59px;
  left: 126px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-6) 0 0;
  box-sizing: border-box;
  z-index: 2;
}
.quienes-somos1 {
  height: 55px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.quienes-somos,
.quienes-somos-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.quienes-somos {
  width: 268px;
  height: 55px;
  flex-direction: row;
  padding: var(--padding-9xs-1) 0 0;
  box-sizing: border-box;
  z-index: 3;
}
.quienes-somos-wrapper {
  width: 376px;
  flex-direction: column;
  max-width: 100%;
}
.inspirate1 {
  height: 54px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.inspirate {
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.servicios1 {
  height: 41px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.servicios {
  position: absolute;
  top: 0;
  left: 164px;
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.inspirate-parent {
  align-self: stretch;
  height: 54px;
  position: relative;
}
.candela-business-owner {
  width: 334px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}

.header {
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.header {
  max-width: 1200px;
  align-self: stretch;
  background-color: var(--color-hotpink);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-40xl) var(--padding-53xl) var(--padding-44xl)
    var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-mandali);
}
.dream-nails-empez {
  text-align: center;
  padding-top: 20px;
  position: absolute;
  max-width: 85%;
  font-size: 70%;
  flex: 1;
  display: inline-block;
}
.dream-nails-empez-siendo-un-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xl) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 100%;
}
.fotocaro-1-icon {
  height: 459px;
  width: 320px;
  position: relative;
  border-radius: var(--br-6xl);
  object-fit: cover;
}
.carolina-es-el {
  align-self: stretch;
  position: relative;
}
.carolina-es-el-alma-creativa-d-wrapper,
.foto-caro-image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.carolina-es-el-alma-creativa-d-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 87px 0 0;
  box-sizing: border-box;
  min-width: 497px;
}
.foto-caro-image {
  align-self: stretch;
  flex-direction: row;
  gap: 35px;
}
.sabrina-es-la {
  align-self: stretch;
  position: relative;
}
.sabrina-expert-care {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 151px 0 0;
  box-sizing: border-box;
  min-width: 477px;
  max-width: 100%;
}
.imagen-de-whatsapp-2024-04-26 {
  height: 459px;
  width: 320px;
  position: relative;
  border-radius: var(--br-6xl);
  object-fit: cover;
}
.sabrina-expert-care-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 62px;
  max-width: 100%;
}
.imagen-de-whatsapp-2024-04-261 {
  height: 459px;
  width: 319px;
  position: relative;
  border-radius: var(--br-6xl);
  object-fit: cover;
}
.candela-es-la {
  align-self: stretch;
  position: relative;
}
.candela-es-la-lder-del-negoci-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 135px 0 0;
  box-sizing: border-box;
  min-width: 487px;
  max-width: 100%;
}
.foto-caro-image1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 51px;
}
.foto-caro-image-parent,
.foto-caro-image1,
.frame-wrapper {
  padding-top: 110px;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.foto-caro-image-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-marcellus);
}
.frame-wrapper {
  width: 1179px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-11xl) 50px;
  box-sizing: border-box;
}
.frame-item {
  height: 111px;
  width: 35px;
  display: none;
}
.dream-nails-5-2 {
  height: 194px;
  width: 212px;
  position: relative;
  object-fit: cover;
  display: none;
}
.dream-nails-icon {
  height: 19.3px;
  width: 123.2px;
  position: relative;
  z-index: 2;
}
.dream-nails-5-2-parent {
  width: 212px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-145xl-5) var(--padding-22xl-8) var(--padding-3xs-2);
  box-sizing: border-box;
  background-image: url(./public/dream-nails-5-2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.fluentlocation-12-regular {
  height: 28.6px;
  width: 14.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.full-stop-icon {
  height: 27px;
  width: 35px;
  position: relative;
  object-fit: cover;
}
.contacto-icon {
  align-self: stretch;
  height: 10.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.contacto-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-8);
}
.full-stop-parent {
  width: 101.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs-6);
}
.full-stop-icon1 {
  height: 27px;
  width: 35px;
  position: relative;
  object-fit: cover;
}
.quienes-somos-icon {
  align-self: stretch;
  height: 13.9px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.quienes-somos-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs-1);
}
.full-stop-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs-6);
}
.full-stop-icon2 {
  height: 27px;
  width: 35px;
  position: relative;
  object-fit: cover;
}
.inspirate-icon {
  align-self: stretch;
  height: 13.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.inspirate-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs-5);
}
.full-stop-container {
  width: 96.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.full-stop-icon3 {
  height: 27px;
  width: 35px;
  position: relative;
  object-fit: cover;
}
.servicios-icon {
  align-self: stretch;
  height: 10.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-div,
.servicios-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.servicios-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.frame-div {
  width: 94.8px;
  flex-direction: row;
  gap: var(--gap-5xs-7);
}
.frame-container,
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.frame-group {
  width: 162.7px;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-12xs);
}
.frame-container {
  width: 251.7px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
}
.donde-encontrarnos-icon {
  width: 185.2px;
  height: 14.1px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.full-stop-icon4 {
  height: 27px;
  width: 35px;
  position: absolute;
  margin: 0 !important;
  top: -9.2px;
  right: -33.4px;
  object-fit: cover;
}
.ingeniero-maschwitz-partido-d {
  height: 12.6px;
  width: 254.6px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.ingeniero-maschwitz-partido-d-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs-6) 0 0;
}
.full-stop-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.full-stop-icon5 {
  height: 27px;
  width: 35px;
  position: absolute;
  margin: 0 !important;
  right: -33.4px;
  bottom: -8.8px;
  object-fit: cover;
}
.inspirate-title-icon {
  height: 10px;
  width: 118.9px;
  position: relative;
}
.dream-nails-info,
.quienes-somos-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.quienes-somos-link {
  justify-content: flex-end;
  padding: 0 var(--padding-9xs-6) 0 0;
}
.dream-nails-info {
  justify-content: flex-start;
  position: relative;
}
.full-stop-icon6 {
  height: 27px;
  width: 35px;
  position: absolute;
  margin: 0 !important;
  top: -8.7px;
  right: -33.4px;
  object-fit: cover;
  z-index: 1;
}
.dreamnails17-icon {
  height: 10.5px;
  width: 107.2px;
  position: relative;
  z-index: 2;
}
.full-stop-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.full-stop-icon7 {
  height: 27px;
  width: 35px;
  position: absolute;
  margin: 0 !important;
  top: -9.7px;
  right: -33.4px;
  object-fit: cover;
  z-index: 2;
}
.dreamnails17-icon1 {
  height: 10.5px;
  width: 107.2px;
  position: relative;
  z-index: 3;
}
.full-stop-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.dream-nails-info-parent,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mid-5);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frame-parent1 {
  flex: 1;
  gap: var(--gap-sm-4);
}
.donde-encontrarnos-parent,
.frame-wrapper2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl-7);
}
.donde-encontrarnos-parent {
  flex-direction: column;
  gap: var(--gap-20xl);
}
.frame-parent,
.frame-wrapper1 {
  display: flex;
  box-sizing: border-box;
}
.frame-wrapper1 {
  width: 276.9px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm-8);
}
.frame-parent {
  max-width: 1200px;
  align-self: stretch;
  height: 173px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-hotpink);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-mini-1) var(--padding-40xl) 0 var(--padding-3xs);
  gap: var(--gap-xl);
}
.vector-parent {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-marcellus);
}
@media screen and (max-width: 1200px) {
  .sabrina-expert-care-parent {
    gap: var(--gap-12xl);
  }
  .frame-wrapper {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .fotocaro-1-icon {
    flex: 1;
  }
  .foto-caro-image {
    flex-wrap: wrap;
  }
  .imagen-de-whatsapp-2024-04-26 {
    flex: 1;
  }
  .sabrina-expert-care-parent {
    flex-wrap: wrap;
  }
  .imagen-de-whatsapp-2024-04-261 {
    flex: 1;
  }
  .foto-caro-image1 {
    flex-wrap: wrap;
  }
  .frame-wrapper {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .header {
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .carolina-es-el-alma-creativa-d-wrapper {
    min-width: 100%;
  }
  .foto-caro-image {
    gap: 17px;
  }
  .sabrina-expert-care {
    min-width: 100%;
  }
  .sabrina-expert-care-parent {
    gap: var(--gap-mini);
  }
  .candela-es-la-lder-del-negoci-wrapper {
    min-width: 100%;
  }
  .foto-caro-image1 {
    gap: 25px;
  }
  .frame-wrapper {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .frame-parent {
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .carolina-es-el,
  .dream-nails-empez {
    font-size: var(--font-size-lgi);
  }
  .carolina-es-el-alma-creativa-d-wrapper {
    padding-top: var(--padding-38xl);
    box-sizing: border-box;
  }
  .candela-es-la,
  .sabrina-es-la {
    font-size: var(--font-size-lgi);
  }
  .frame-wrapper {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .donde-encontrarnos-parent {
    gap: var(--gap-lgi);
  }
}
